# Creating a New Database

- We can create a database using **CREATE DATABASE** command

In [1]:
CREATE DATABASE books_db_g7cr_202407;

## Now we can activate our database before we can use It

In [2]:
USE books_db_g7cr_202407;

## Now we create our Books Table

- CREATE TABLE COMMAND NEEDS

1. TABLE NAME
    
2. ALL COLUMNS WITH
    
    - COLUMN NAME
    - COLUMN DATA TYPE
    - ADDITIONAL CONSTRAINTS (OPTIONAL)
        - In this example we are using constraints
            - NOT NULL to mark column compulsory
            - CHECK to validate the value 
            - DEFAULT is the value that is stored if no value is provided by the user

In [3]:
CREATE TABLE books(
	TITLE  VARCHAR(200) NOT NULL,
	AUTHOR VARCHAR(200) NOT NULL,
	PRICE  DECIMAL      NOT NULL CHECK(PRICE>=0),
	RATING DECIMAL      CHECK(RATING>=1 AND RATING<=5),
	COVER  VARCHAR(512) DEFAULT('/unknown.png')
);

## INSERT RECORDS IN THE TABLE

- There are multiple syntax/options to execute **INSERT** statement
- The full syntax requires us to provide
    - table name
    - column names
    - corresponding values

### Approach #1

In [4]:
INSERT 
    INTO BOOKS(TITLE,AUTHOR,PRICE,RATING,COVER)
    VALUES    ('The Accursed God','Vivek Dutta Mishra',299, 4.7, 'tag.png');

## Approach #2  Provide Only values

- Order of values will be based on order in which CREATE TABLE added the columns

In [5]:
INSERT 
    INTO BOOKS
    VALUES    ('Manas','Vivek Dutta Mishra',199, 4.6, 'manas.png');

### Default Value

-  If a value for column is NOT supplied but a default exists, it will be used
- In this case, we are not supplying cover to the query. It will use default from table defintion

In [6]:
INSERT 
    INTO BOOKS(TITLE,AUTHOR,PRICE,RATING)
    VALUES    ('The Accursed God','Vivek Dutta Mishra',299, 4.7);