# A WORD ABOUT CONSTRAINTS

1. WHEN WE CREATE A COLUMN WE CAN APPLY MULTIPLE RULES ON THE COLUMN THAT ARE REFERRED AS CONSTRAINT
2. THEY ARE OFTEN USED VALIDATING OR DESCRIBING DATA SHAPE
- THIS COULD BE ATOMIC FOR CURRENT CELL
    - NOT NULL
    - CHECK (PRICE\>0)
- OR THIS COULD BE A RELATION WITH OTHER CELLS
    - UNIQUE VALUE

4. WE ALSO HAVE DEFAULT CONSTRAINT 
- IT IS TREATED DIFFERENTLY
6. OTHER SPECIAL CONSTRAINTS ARE
- KEYS
    - PRIMARY KEY
    - FOREIGN KEY
- INDEXES

- <span style="color: var(--vscode-foreground);">EVERY CONSTRAINT HAS A NAME</span>
    - <span style="color: var(--vscode-foreground);">IF WE DON'T SUPPLY, IT GETS A DYNAMIC NAME</span>
    - <span style="color: var(--vscode-foreground);">IT IS DIFFICULT TO REMEMBER OR ALTER THEM LATER.</span>

In [22]:
DROP TABLE IF EXISTS REVIEWS;
DROP TABLE IF EXISTS REVIEWS_OLD;
DROP TABLE IF EXISTS BOOKS;
DROP TABLE IF EXISTS BOOKS_OLD;

In [23]:

CREATE TABLE BOOKS(
    
    TITLE VARCHAR(100) CONSTRAINT PK_BOOKS_TITLE  PRIMARY KEY,
    AUTHOR VARCHAR(100) NOT NULL,
    PRICE DECIMAL(8,2) CONSTRAINT CHECK_BOOKS_PRICE CHECK(PRICE>=0),
    --RATING DECIMAL(5,2) CHECK(RATING>=1 AND RATING<=5),
    COVER VARCHAR(512) CONSTRAINT DEFAULT_BOOKS_COVER DEFAULT('unknown.png')
);

CREATE TABLE REVIEWS(
    -- THIS COLUMN WILL BE CONVERTED TO FOREIGN KEY BELOW
    BOOK_TITLE VARCHAR(100) NOT NULL,  

    --RATING RELATED INFO
    REVIEWER VARCHAR(100),
    RATING INT CHECK(RATING>=1 AND RATING<=5),

    -- ADD FOREIGN KEY CONSTRAINT TO BOOK_TITLE
    CONSTRAINT FK__BOOK_ID__BOOKS__ID FOREIGN KEY(BOOK_TITLE) REFERENCES BOOKS(TITLE)

    
);

WE CAN ADD BOOK RECORDS

In [24]:
INSERT 
    INTO BOOKS(TITLE,AUTHOR,PRICE,COVER)
    VALUES    
    
    ('The Accursed God','Vivek Dutta Mishra',299, 'tag.png'),
    ('Manas','Vivek Dutta Mishra',199, 'manas.png'),
    ('Rashmirathi','Ramdhari Singh Dinkar',99, 'rashmirath.png'),
    ('The Count of Monte Cristo','Alexandre Dumas',499, 'cristo.png')    

    ;

In [25]:
SELECT * FROM BOOKS;

TITLE,AUTHOR,PRICE,COVER
Manas,Vivek Dutta Mishra,199.00,manas.png
Rashmirathi,Ramdhari Singh Dinkar,99.00,rashmirath.png
The Accursed God,Vivek Dutta Mishra,299.00,tag.png
The Count of Monte Cristo,Alexandre Dumas,499.00,cristo.png

WE CAN'T ADD DUPLICATE TITLE AS IT IS A PRIMARY KEY

In [26]:
INSERT 
    INTO BOOKS(TITLE,AUTHOR,PRICE,COVER)
    VALUES    
    
    ('The Accursed God','Manoj Kumar',199, 'pic-tag.png')

: Msg 2627, Level 14, State 1, Line 1
Violation of PRIMARY KEY constraint 'PK_BOOKS_TITLE'. Cannot insert duplicate key in object 'dbo.BOOKS'. The duplicate key value is (The Accursed God).

LET US ADD SOME REVIEWS FOR EXISTING BOOK

In [27]:
INSERT 
    INTO REVIEWS(BOOK_TITLE,REVIEWER,RATING)
    VALUES    
    
    ('The Accursed God','Sanjay',5),
    ('The Accursed God','Shivanshi',3),
    ('The Accursed God','Amit',5),
    ('The Accursed God','Rajesh',5),
    
    ('Manas','Shivanshi',5),
    ('Manas','Reena',4),
    ('Manas','Sanjay',4),

    ('Rashmirathi','Shivanshi',4),
    ('Rashmirathi','Vivek',4),
    ('Rashmirathi','Reena',4),
    ('Rashmirathi','Amit',3),

    ('The Count of Monte Cristo','Vivek',5),
    ('The Count of Monte Cristo','Reena',4),
    ('The Count of Monte Cristo','Shivanshi',4)
    

    ;

In [28]:
SELECT * FROM BOOKS;

SELECT * FROM REVIEWS;

TITLE,AUTHOR,PRICE,COVER
Manas,Vivek Dutta Mishra,199.00,manas.png
Rashmirathi,Ramdhari Singh Dinkar,99.00,rashmirath.png
The Accursed God,Vivek Dutta Mishra,299.00,tag.png
The Count of Monte Cristo,Alexandre Dumas,499.00,cristo.png

BOOK_TITLE,REVIEWER,RATING
The Accursed God,Sanjay,5
The Accursed God,Shivanshi,3
The Accursed God,Amit,5
The Accursed God,Rajesh,5
Manas,Shivanshi,5
Manas,Reena,4
Manas,Sanjay,4
Rashmirathi,Shivanshi,4
Rashmirathi,Vivek,4
Rashmirathi,Reena,4
Rashmirathi,Amit,3
The Count of Monte Cristo,Vivek,5
The Count of Monte Cristo,Reena,4
The Count of Monte Cristo,Shivanshi,4

# <span style="font-size: 14px; color: var(--vscode-foreground);">LETS ADD SOME MORE BOOKS</span>

In [29]:
INSERT 
    INTO 
        BOOKS (TITLE, AUTHOR, PRICE, COVER)
        VALUES
                ('Brethren','John Grisham',350,'brethren.png'),
                ('Summons', 'John Grishma',400,'summons.png');

## FOREIGN KEY ADVANTAGE

- WE CAN'T ADD A BOOK\_TITLE THAT IS NOT A VALID EXISTING BOOKS.TITLE
- FOREIGN KEY VALUE MUST MATCH EXISTING PRIMARY KEY VALUE IT IS REFERENCING TO

In [30]:
INSERT 
    INTO REVIEWS(BOOK_TITLE, REVIEWER, RATING)
    VALUES      
            ('Kurukshetra', 'Vivek', 5),
            ('Kurukshetra', 'Sanjay',3),
            ('Kurukshetra', 'Shivanshi',4),
            ('Kane And Abel', 'Reena',4);

: Msg 547, Level 16, State 0, Line 1
The INSERT statement conflicted with the FOREIGN KEY constraint "FK__BOOK_ID__BOOKS__ID". The conflict occurred in database "books_db_g7cr_202407", table "dbo.BOOKS", column 'TITLE'.

## Now we can add a New Review for an Exisiting Book

In [31]:
INSERT 
INTO  REVIEWS(BOOK_TITLE, REVIEWER, RATING)
VALUES 
        ('The Accursed God','Prabhat',5),
        ('Manas','Prabhat',5)

## <span style="font-size: 14px; color: var(--vscode-foreground);">HOW TO MODIFY OUR EXISTING TABLE</span>  

- We can modify the definition of a TABLE  Without DROPPING AND RECREATING
- We can also do the same for other db elements including the data itself
- The command to do the same is ALTER

### 1\. Add a Column to our Books

- Make sure if you are adding column to a table that has existing records
    - column should either accept NULL
    - or should have a default

In [32]:
ALTER TABLE BOOKS
    ADD PAGES INT CONSTRAINT DEFAULT_BOOKS_PAGES DEFAULT(-1) --1 MEANS PAGE COUNT NOT KNOWN

In [33]:
SELECT * FROM BOOKS;

TITLE,AUTHOR,PRICE,COVER,PAGES
Brethren,John Grisham,350.00,brethren.png,NULL
Manas,Vivek Dutta Mishra,199.00,manas.png,NULL
Rashmirathi,Ramdhari Singh Dinkar,99.00,rashmirath.png,NULL
Summons,John Grishma,400.00,summons.png,NULL
The Accursed God,Vivek Dutta Mishra,299.00,tag.png,NULL
The Count of Monte Cristo,Alexandre Dumas,499.00,cristo.png,NULL

WE CAN UPDATE THE TABLE TO FILL IN THE DEFAULTS USING UPDATE COMMAND

In [34]:
UPDATE
    BOOKS
SET
    PAGES=-1

UPDATE
    BOOKS
SET
    PAGES=380
WHERE
    TITLE='The Accursed God'

In [35]:
SELECT * FROM BOOKS

TITLE,AUTHOR,PRICE,COVER,PAGES
Brethren,John Grisham,350.00,brethren.png,-1
Manas,Vivek Dutta Mishra,199.00,manas.png,-1
Rashmirathi,Ramdhari Singh Dinkar,99.00,rashmirath.png,-1
Summons,John Grishma,400.00,summons.png,-1
The Accursed God,Vivek Dutta Mishra,299.00,tag.png,380
The Count of Monte Cristo,Alexandre Dumas,499.00,cristo.png,-1

## We can also remove an existing column

In [36]:
ALTER TABLE BOOKS
    DROP COLUMN PAGES;

: Msg 5074, Level 16, State 1, Line 1
The object 'DEFAULT_BOOKS_PAGES' is dependent on column 'PAGES'.

: Msg 4922, Level 16, State 9, Line 1
ALTER TABLE DROP COLUMN PAGES failed because one or more objects access this column.

### PROBLEM

- SINCE WE HAVE ADDED A CONSTRAINT WE CAN'T REMOVE A CELL TILL WE REMOVE THE CONSTRAINT

### ALTER TABLE TO REMOVE A CONSTRATING

In [37]:
ALTER TABLE BOOKS
    DROP CONSTRAINT DEFAULT_BOOKS_PAGES

### Now we can drop the column

In [38]:
ALTER TABLE BOOKS
    DROP COLUMN PAGES

In [39]:
SELECT * FROM BOOKS

TITLE,AUTHOR,PRICE,COVER
Brethren,John Grisham,350.00,brethren.png
Manas,Vivek Dutta Mishra,199.00,manas.png
Rashmirathi,Ramdhari Singh Dinkar,99.00,rashmirath.png
Summons,John Grishma,400.00,summons.png
The Accursed God,Vivek Dutta Mishra,299.00,tag.png
The Count of Monte Cristo,Alexandre Dumas,499.00,cristo.png

# WE WANT TO CHANGE BOOK'S PRIMARY KEY FROM TITLE TO ID (INT)

## PLAN 1

1. Add a new column id MAKE IT AUTOINCREMENT.... NO PROBLEM
    
2. REMOVE THE CURRENT PRIMARY KEY CONSTRAINT (NOT THE TITLE COLUMN)
    
    - This is referred in the Reviews and Foreign Key
    - We Can't demote

##

In [41]:
ALTER TABLE BOOKS
    DROP CONSTRAINT PK_BOOKS_TITLE

: Msg 3725, Level 16, State 0, Line 1
The constraint 'PK_BOOKS_TITLE' is being referenced by table 'REVIEWS', foreign key constraint 'FK__BOOK_ID__BOOKS__ID'.

: Msg 3727, Level 16, State 0, Line 1
Could not drop constraint. See previous errors.

## Change of Plan

1. <span style="color: var(--vscode-foreground);">REVIEWS:&nbsp; Remove FK constraint from Reviews BOOK_TITLE</span>
    
2. <span style="color: var(--vscode-foreground);">BOOKS: REMOVE PRIMARY KEY CONSTRAINT FROM BOOKS</span>
    
3. <span style="color: var(--vscode-foreground);">BOOKS: Add a non primary key column ID in BOOKS</span>
    
4.  BOOKS: ADD  NEW PRIMARY KEY CONSTRAINT INTO BOOKS ON ID
    
5.  REVIEWS: ALTER REVIEWS TABLE TO ADD A NEW NORMAL COLUMN BOOK\_ID
    
6. **REVIEWS: UPDATE REVIEWS TO SET BOOK\_ID BASED ON BOOK\_TITLE**
    
7. REVIEWS: ADD NEW FK CONSTRAINT IN REVIEW FOR BOOK\_ID
    
8. REVIEWES: DROP THE BOOK\_TITLE COLUM FROM REVIEWS (OPTIONAL. WE CAN KEEP FOR DENORMALIZATION)
    

  

### STEP #1 Remove FK from Reviews

- It is important pre-requisite for deleting PK constraint from the book

In [42]:
ALTER TABLE REVIEWS
    DROP CONSTRAINT FK__BOOK_ID__BOOKS__ID

### STEP #2 DROP THE PRIMARY KEY CONSTRAINT FROM BOOKS

- We are just removing PK constraint and NOT the column BOOK\_TITLE or its data
- We will still have the data but not as PRIMARY KEY

In [43]:
ALTER TABLE BOOKS
    DROP CONSTRAINT PK_BOOKS_TITLE

In [44]:
SELECT
    TITLE,
    AUTHOR,
    ROUND(AVG(CAST(RATING AS FLOAT)),2) RATING,
    COUNT(RATING) VOTES,
    PRICE
FROM
    BOOKS
LEFT JOIN
    REVIEWS
ON
    TITLE=BOOK_TITLE
GROUP BY
    TITLE,
    AUTHOR,
    PRICE

TITLE,AUTHOR,RATING,VOTES,PRICE
Brethren,John Grisham,NULL,0,350.00
Manas,Vivek Dutta Mishra,4.5,4,199.00
Rashmirathi,Ramdhari Singh Dinkar,3.75,4,99.00
Summons,John Grishma,NULL,0,400.00
The Accursed God,Vivek Dutta Mishra,4.6,5,299.00
The Count of Monte Cristo,Alexandre Dumas,4.33,3,499.00

STEP #3  ADD A NEW ID COLUMN 

- WE WILL USE ID WITH INT AND AUTOINCREMENT
- IT WILL ADD AN AUTOINCREMENTED VALUE TO EACH EXISTING ROW
- AT THIS STAGE IT WILL BE A NORMAL COLUMN AND NOT A PRIMARY COLUMN

In [45]:
ALTER TABLE BOOKS
    ADD ID INT IDENTITY(1,1)

In [46]:
SELECT 
    ID,
    TITLE
FROM
    BOOKS

ID,TITLE
1,Brethren
2,Manas
3,Rashmirathi
4,Summons
5,The Accursed God
6,The Count of Monte Cristo

### STEP 4 ADD PRIMARY KEY CONSTRAINT TO ID COLUMN IN BOOKS

In [47]:
ALTER TABLE BOOKS
    ADD CONSTRAINT PK_BOOKS_ID PRIMARY KEY(ID)

In [48]:
INSERT INTO BOOKS(TITLE, AUTHOR, PRICE, COVER)
VALUES ('Manas','Ramdhari Singh Dinkar',100,'manas-2.png')

In [49]:
SELECT * FROM BOOKS WHERE TITLE='Manas'

TITLE,AUTHOR,PRICE,COVER,ID
Manas,Vivek Dutta Mishra,199.00,manas.png,2
Manas,Ramdhari Singh Dinkar,100.00,manas-2.png,7

### STEP 5 CREATE A COLUMN BOOK\_ID TO ACT AS FK

- We will only create the column and not apply FK constraint
    - FK constraint also applies 
        - NOT NULL
        - ENSURES THE VALUE IN THE COLUMN MATCHING EXISTING PRIMARY KEY
    - But right now we don't have a value in this field.

In [50]:
ALTER TABLE REVIEWS
    ADD BOOK_ID INT

In [52]:
SELECT 
    TOP 5
    BOOK_ID,
    REVIEWER,
    BOOK_TITLE,
    RATING
FROM
    REVIEWS

BOOK_ID,REVIEWER,BOOK_TITLE,RATING
NULL,Sanjay,The Accursed God,5
NULL,Shivanshi,The Accursed God,3
NULL,Amit,The Accursed God,5
NULL,Rajesh,The Accursed God,5
NULL,Shivanshi,Manas,5

### STEP 6 UPDATE REVIEWS TABLE TO FILL BOOK\_ID FOR CORRESPONDING BOOK

  

APPROACH #1 MANUALLY FIND ALL BOOK ID AND UPDATE EACH REVIEW ROW ONE BY ONE

- NOT RECOMMENDED
- We want to update all reviews to apply the book\_id corresponding to existing book\_title

### WHAT WE WANT

- We want to automatically update all reviews in one go.
- We want to apply id of the same book whose book\_title is currently available.
    - we want to cross reference book\_id from books table based on book\_title
- This update needs
1. Data from BOOKS TABLE
2. A JOIN BETWEEN BOOKS AND REVIEWS
- <span style="color: var(--vscode-foreground);">Remember, we are updating REVIEWS</span>

## UPDATE JOIN

In [55]:
UPDATE
    REVIEWS
SET
    BOOK_ID = ID

FROM 
    REVIEWS
JOIN 
    BOOKS 
ON
    TITLE=BOOK_TITLE

In [56]:
SELECT
    ID,
    BOOK_ID,
    BOOK_TITLE,
    TITLE
FROM
    BOOKS
JOIN
    REVIEWS
ON
    ID=BOOK_ID

ID,BOOK_ID,BOOK_TITLE,TITLE
5,5,The Accursed God,The Accursed God
5,5,The Accursed God,The Accursed God
5,5,The Accursed God,The Accursed God
5,5,The Accursed God,The Accursed God
2,2,Manas,Manas
2,2,Manas,Manas
2,2,Manas,Manas
3,3,Rashmirathi,Rashmirathi
3,3,Rashmirathi,Rashmirathi
3,3,Rashmirathi,Rashmirathi
3,3,Rashmirathi,Rashmirathi
6,6,The Count of Monte Cristo,The Count of Monte Cristo
6,6,The Count of Monte Cristo,The Count of Monte Cristo
6,6,The Count of Monte Cristo,The Count of Monte Cristo
5,5,The Accursed God,The Accursed God
2,2,Manas,Manas

### STEP  7 ADD FOREIGN KEY CONSTRAINT

- NOW WE HAVE THE VALID DATA ADDED WE CAN APPLY FK ON BOOK\_ID

In [57]:
ALTER TABLE REVIEWS
    ADD CONSTRAINT FK__BOOK_ID__BOOKS__ID
    FOREIGN KEY(BOOK_ID) REFERENCES BOOKS(ID)

### STEP 8 REMOVE THE BOOK\_TITLE COLUMN FROM REVIEWS

- It is no more needed

In [58]:
ALTER TABLE REVIEWS
    DROP COLUMN BOOK_TITLE

In [59]:
SELECT TOP 5
*
FROM
REVIEWS

REVIEWER,RATING,BOOK_ID
Sanjay,5,5
Shivanshi,3,5
Amit,5,5
Rajesh,5,5
Shivanshi,5,2

LET US ALSO ADD A PRIMARY KEY IN REVIEWS TABLE

- THIS IS OPTIONAL

In [61]:
ALTER TABLE REVIEWS
    ADD ID INT IDENTITY(1,1) CONSTRAINT PK_REVIEWS_ID PRIMARY KEY

In [62]:
SELECT TOP 5 * FROM REVIEWS

REVIEWER,RATING,BOOK_ID,ID
Sanjay,5,5,1
Shivanshi,3,5,2
Amit,5,5,3
Rajesh,5,5,4
Shivanshi,5,2,5

## FOREIGN KEY AND PRIMARY KEY RELATIONSHIP

  

- A FK value MUST refer to an existing/available PK
- What if we delete the Primary Value after adding row in the secondary table
    - What if we try to remove a book from our database
    - If the book is deleted the PK will become unavailable
        - FK will beocme orphen refering to invalid value
            - which is NOT perimitted in the first place

###

In [64]:
SELECT 
    b.ID,
    TITLE,
    COUNT(RATING) REVIEWS
FROM
    BOOKS B
LEFT JOIN
    REVIEWS R
ON
    BOOK_ID=B.ID
GROUP BY
    B.ID,
    TITLE

ID,TITLE,REVIEWS
1,Brethren,0
2,Manas,4
3,Rashmirathi,4
4,Summons,0
5,The Accursed God,5
6,The Count of Monte Cristo,3
7,Manas,0

## DEFAULT DELETE BEHAVIOR

### 

1. We can remove the rows that are not referenced by a FK

In [65]:
DELETE 
    FROM BOOKS
    WHERE TITLE='Brethren'

In [66]:
SELECT 
    b.ID,
    TITLE,
    COUNT(RATING) REVIEWS
FROM
    BOOKS B
LEFT JOIN
    REVIEWS R
ON
    BOOK_ID=B.ID
GROUP BY
    B.ID,
    TITLE

ID,TITLE,REVIEWS
2,Manas,4
3,Rashmirathi,4
4,Summons,0
5,The Accursed God,5
6,The Count of Monte Cristo,3
7,Manas,0

### 2\. We can't DELETE Any Row that is referenced by a FK

In [67]:
DELETE 
FROM BOOKS
WHERE TITLE='Rashmirathi'

: Msg 547, Level 16, State 0, Line 1
The DELETE statement conflicted with the REFERENCE constraint "FK__BOOK_ID__BOOKS__ID". The conflict occurred in database "books_db_g7cr_202407", table "dbo.REVIEWS", column 'BOOK_ID'.

## APPROACH 2: DELETE CASCADE

- If a primary row  is deleted we should also delete all rows refering to that row using FK
- If we are removing a book, we must also remove all the reviews of that book.
    - There is no point in having a review if there is not corresponding book.
- We need to apply this behavior in the foreign key constraint

  

### ASIDE: We can also apply CASCASE UPDATE

- If primary row is updated, corresponding child row is also updated.
- if id in the primary table is changed, its value will be updated in the FK column
    - if book.id is changed
        - reviews.book\_id should also be changed.

- But Generally we DO NOT CHANGE OUR ID
    - This is not that important!

# APPLYING CASCADE PROPERTY TO FK

1. We can't alter constraint to apply this behavior
2. We need to drop the constraint and recreate with required feature.

In [68]:
ALTER TABLE REVIEWS
    DROP CONSTRAINT FK__BOOK_ID__BOOKS__ID

In [69]:
ALTER TABLE REVIEWS
    ADD CONSTRAINT FK__BOOK_ID__BOOKS__ID
    FOREIGN KEY(BOOK_ID) REFERENCES BOOKS(ID)
    ON DELETE CASCADE
    ON UPDATE CASCADE

### Now when we delete  PRIMARY ROW corresponding child rows will be deleted

In [70]:
DELETE
    FROM BOOKS
    WHERE TITLE='Rashmirathi'

In [75]:
SELECT
    BOOKS.ID AS ID,
    BOOK_ID,
    TITLE,
    RATING
FROM
    BOOKS
FULL JOIN
    REVIEWS
ON
    BOOKS.ID=BOOK_ID
ORDER BY
    TITLE

ID,BOOK_ID,TITLE,RATING
2,2,Manas,5
2,2,Manas,4
2,2,Manas,4
2,2,Manas,5
7,NULL,Manas,NULL
4,NULL,Summons,NULL
5,5,The Accursed God,5
5,5,The Accursed God,3
5,5,The Accursed God,5
5,5,The Accursed God,5
5,5,The Accursed God,5
6,6,The Count of Monte Cristo,5
6,6,The Count of Monte Cristo,4
6,6,The Count of Monte Cristo,4

### LET US UPDATE A BOOK ID

In [76]:
UPDATE BOOKS
SET ID=1000
WHERE ID=5

: Msg 8102, Level 16, State 1, Line 1
Cannot update identity column 'ID'.