# A WORD ABOUT CONSTRAINTS

1. WHEN WE CREATE A COLUMN WE CAN APPLY MULTIPLE RULES ON THE COLUMN THAT ARE REFERRED AS CONSTRAINT
2. THEY ARE OFTEN USED VALIDATING OR DESCRIBING DATA SHAPE
- THIS COULD BE ATOMIC FOR CURRENT CELL
    - NOT NULL
    - CHECK (PRICE\>0)
- OR THIS COULD BE A RELATION WITH OTHER CELLS
    - UNIQUE VALUE

4. WE ALSO HAVE DEFAULT CONSTRAINTÂ 
- IT IS TREATED DIFFERENTLY
6. OTHER SPECIAL CONSTRAINTS ARE
- KEYS
    - PRIMARY KEY
    - FOREIGN KEY
- INDEXES

- <span style="color: var(--vscode-foreground);">EVERY CONSTRAINT HAS A NAME</span>
    - <span style="color: var(--vscode-foreground);">IF WE DON'T SUPPLY, IT GETS A DYNAMIC NAME</span>
    - <span style="color: var(--vscode-foreground);">IT IS DIFFICULT TO REMEMBER OR ALTER THEM LATER.</span>

In [22]:
DROP TABLE IF EXISTS REVIEWS;
DROP TABLE IF EXISTS REVIEWS_OLD;
DROP TABLE IF EXISTS BOOKS;
DROP TABLE IF EXISTS BOOKS_OLD;

In [23]:

CREATE TABLE BOOKS(
    
    TITLE VARCHAR(100) CONSTRAINT PK_BOOKS_TITLE  PRIMARY KEY,
    AUTHOR VARCHAR(100) NOT NULL,
    PRICE DECIMAL(8,2) CONSTRAINT CHECK_BOOKS_PRICE CHECK(PRICE>=0),
    --RATING DECIMAL(5,2) CHECK(RATING>=1 AND RATING<=5),
    COVER VARCHAR(512) CONSTRAINT DEFAULT_BOOKS_COVER DEFAULT('unknown.png')
);

CREATE TABLE REVIEWS(
    -- THIS COLUMN WILL BE CONVERTED TO FOREIGN KEY BELOW
    BOOK_TITLE VARCHAR(100) NOT NULL,  

    --RATING RELATED INFO
    REVIEWER VARCHAR(100),
    RATING INT CHECK(RATING>=1 AND RATING<=5),

    -- ADD FOREIGN KEY CONSTRAINT TO BOOK_TITLE
    CONSTRAINT FK__BOOK_ID__BOOKS__ID FOREIGN KEY(BOOK_TITLE) REFERENCES BOOKS(TITLE)

    
);

WE CAN ADD BOOK RECORDS

In [24]:
INSERT 
    INTO BOOKS(TITLE,AUTHOR,PRICE,COVER)
    VALUES    
    
    ('The Accursed God','Vivek Dutta Mishra',299, 'tag.png'),
    ('Manas','Vivek Dutta Mishra',199, 'manas.png'),
    ('Rashmirathi','Ramdhari Singh Dinkar',99, 'rashmirath.png'),
    ('The Count of Monte Cristo','Alexandre Dumas',499, 'cristo.png')    

    ;

In [25]:
SELECT * FROM BOOKS;

TITLE,AUTHOR,PRICE,COVER
Manas,Vivek Dutta Mishra,199.00,manas.png
Rashmirathi,Ramdhari Singh Dinkar,99.00,rashmirath.png
The Accursed God,Vivek Dutta Mishra,299.00,tag.png
The Count of Monte Cristo,Alexandre Dumas,499.00,cristo.png

WE CAN'T ADD DUPLICATE TITLE AS IT IS A PRIMARY KEY

In [26]:
INSERT 
    INTO BOOKS(TITLE,AUTHOR,PRICE,COVER)
    VALUES    
    
    ('The Accursed God','Manoj Kumar',199, 'pic-tag.png')

: Msg 2627, Level 14, State 1, Line 1
Violation of PRIMARY KEY constraint 'PK_BOOKS_TITLE'. Cannot insert duplicate key in object 'dbo.BOOKS'. The duplicate key value is (The Accursed God).

LET US ADD SOME REVIEWS FOR EXISTING BOOK

In [27]:
INSERT 
    INTO REVIEWS(BOOK_TITLE,REVIEWER,RATING)
    VALUES    
    
    ('The Accursed God','Sanjay',5),
    ('The Accursed God','Shivanshi',3),
    ('The Accursed God','Amit',5),
    ('The Accursed God','Rajesh',5),
    
    ('Manas','Shivanshi',5),
    ('Manas','Reena',4),
    ('Manas','Sanjay',4),

    ('Rashmirathi','Shivanshi',4),
    ('Rashmirathi','Vivek',4),
    ('Rashmirathi','Reena',4),
    ('Rashmirathi','Amit',3),

    ('The Count of Monte Cristo','Vivek',5),
    ('The Count of Monte Cristo','Reena',4),
    ('The Count of Monte Cristo','Shivanshi',4)
    

    ;

In [28]:
SELECT * FROM BOOKS;

SELECT * FROM REVIEWS;

TITLE,AUTHOR,PRICE,COVER
Manas,Vivek Dutta Mishra,199.00,manas.png
Rashmirathi,Ramdhari Singh Dinkar,99.00,rashmirath.png
The Accursed God,Vivek Dutta Mishra,299.00,tag.png
The Count of Monte Cristo,Alexandre Dumas,499.00,cristo.png

BOOK_TITLE,REVIEWER,RATING
The Accursed God,Sanjay,5
The Accursed God,Shivanshi,3
The Accursed God,Amit,5
The Accursed God,Rajesh,5
Manas,Shivanshi,5
Manas,Reena,4
Manas,Sanjay,4
Rashmirathi,Shivanshi,4
Rashmirathi,Vivek,4
Rashmirathi,Reena,4
Rashmirathi,Amit,3
The Count of Monte Cristo,Vivek,5
The Count of Monte Cristo,Reena,4
The Count of Monte Cristo,Shivanshi,4

# <span style="font-size: 14px; color: var(--vscode-foreground);">LETS ADD SOME MORE BOOKS</span>

In [29]:
INSERT 
    INTO 
        BOOKS (TITLE, AUTHOR, PRICE, COVER)
        VALUES
                ('Brethren','John Grisham',350,'brethren.png'),
                ('Summons', 'John Grishma',400,'summons.png');

## FOREIGN KEY ADVANTAGE

- WE CAN'T ADD A BOOK\_TITLE THAT IS NOT A VALID EXISTING BOOKS.TITLE
- FOREIGN KEY VALUE MUST MATCH EXISTING PRIMARY KEY VALUE IT IS REFERENCING TO

In [30]:
INSERT 
    INTO REVIEWS(BOOK_TITLE, REVIEWER, RATING)
    VALUES      
            ('Kurukshetra', 'Vivek', 5),
            ('Kurukshetra', 'Sanjay',3),
            ('Kurukshetra', 'Shivanshi',4),
            ('Kane And Abel', 'Reena',4);

: Msg 547, Level 16, State 0, Line 1
The INSERT statement conflicted with the FOREIGN KEY constraint "FK__BOOK_ID__BOOKS__ID". The conflict occurred in database "books_db_g7cr_202407", table "dbo.BOOKS", column 'TITLE'.

## Now we can add a New Review for an Exisiting Book

In [31]:
INSERT 
INTO  REVIEWS(BOOK_TITLE, REVIEWER, RATING)
VALUES 
        ('The Accursed God','Prabhat',5),
        ('Manas','Prabhat',5)

## <span style="font-size: 14px; color: var(--vscode-foreground);">HOW TO MODIFY OUR EXISTING TABLE</span>  

- We can modify the definition of a TABLEÂ  Without DROPPING AND RECREATING
- We can also do the same for other db elements including the data itself
- The command to do the same is ALTER

### 1\. Add a Column to our Books

- Make sure if you are adding column to a table that has existing records
    - column should either accept NULL
    - or should have a default

In [32]:
ALTER TABLE BOOKS
    ADD PAGES INT CONSTRAINT DEFAULT_BOOKS_PAGES DEFAULT(-1) --1 MEANS PAGE COUNT NOT KNOWN

In [33]:
SELECT * FROM BOOKS;

TITLE,AUTHOR,PRICE,COVER,PAGES
Brethren,John Grisham,350.00,brethren.png,NULL
Manas,Vivek Dutta Mishra,199.00,manas.png,NULL
Rashmirathi,Ramdhari Singh Dinkar,99.00,rashmirath.png,NULL
Summons,John Grishma,400.00,summons.png,NULL
The Accursed God,Vivek Dutta Mishra,299.00,tag.png,NULL
The Count of Monte Cristo,Alexandre Dumas,499.00,cristo.png,NULL

WE CAN UPDATE THE TABLE TO FILL IN THE DEFAULTS USING UPDATE COMMAND

In [34]:
UPDATE
    BOOKS
SET
    PAGES=-1

UPDATE
    BOOKS
SET
    PAGES=380
WHERE
    TITLE='The Accursed God'

In [35]:
SELECT * FROM BOOKS

TITLE,AUTHOR,PRICE,COVER,PAGES
Brethren,John Grisham,350.00,brethren.png,-1
Manas,Vivek Dutta Mishra,199.00,manas.png,-1
Rashmirathi,Ramdhari Singh Dinkar,99.00,rashmirath.png,-1
Summons,John Grishma,400.00,summons.png,-1
The Accursed God,Vivek Dutta Mishra,299.00,tag.png,380
The Count of Monte Cristo,Alexandre Dumas,499.00,cristo.png,-1

## We can also remove an existing column

In [36]:
ALTER TABLE BOOKS
    DROP COLUMN PAGES;

: Msg 5074, Level 16, State 1, Line 1
The object 'DEFAULT_BOOKS_PAGES' is dependent on column 'PAGES'.

: Msg 4922, Level 16, State 9, Line 1
ALTER TABLE DROP COLUMN PAGES failed because one or more objects access this column.

### PROBLEM

- SINCE WE HAVE ADDED A CONSTRAINT WE CAN'T REMOVE A CELL TILL WE REMOVE THE CONSTRAINT

### ALTER TABLE TO REMOVE A CONSTRATING

In [37]:
ALTER TABLE BOOKS
    DROP CONSTRAINT DEFAULT_BOOKS_PAGES

### Now we can drop the column

In [38]:
ALTER TABLE BOOKS
    DROP COLUMN PAGES

In [39]:
SELECT * FROM BOOKS

TITLE,AUTHOR,PRICE,COVER
Brethren,John Grisham,350.00,brethren.png
Manas,Vivek Dutta Mishra,199.00,manas.png
Rashmirathi,Ramdhari Singh Dinkar,99.00,rashmirath.png
Summons,John Grishma,400.00,summons.png
The Accursed God,Vivek Dutta Mishra,299.00,tag.png
The Count of Monte Cristo,Alexandre Dumas,499.00,cristo.png

# WE WANT TO CHANGE BOOK'S PRIMARY KEY FROM TITLE TO ID (INT)

## Challenges

### 

1. Add a new column id MAKE IT AUTOINCREMENT.... NO PROBLEM
2. REMOVE THE CURRENT PRIMARY KEY CONSTRAINT (NOT THE TITLE COLUMN)
- This is referred in the Reviews and Foreign Key
- We Can't demote

## Change of Plan

  

## 

1. Add a non primary key column ID in BOOKS
2. Remove FK constraint from Reviews BOOK\_TITLE
3. Â REMOVE PRIMARY KEY CONSTRAINT FROM BOOKS
4. Â ADDÂ  NEW PRIMARY KEY CONSTRAINT INTO BOOKS ON ID
5. Â ALTER REVIEWS TABLE TO ADD A NEW NORMAL COLUMN BOOK\_ID
6. UPDATE REVIEWS TO SET BOOK\_ID BASED ON BOOK\_TITLE
7. DROP THE BOOK\_TITLE COLUM FROM REVIEWS
8. ADD NEW FK CONSTRAINT IN REVIEW FOR BOOK\_ID

2.

In [72]:
ALTER TABLE BOOKS
    DROP CONSTRAINT PK__BOOKS__475DFD2E29A63892

: Msg 3728, Level 16, State 1, Line 1
'PK__BOOKS__475DFD2E29A63892' is not a constraint.

: Msg 3727, Level 16, State 0, Line 1
Could not drop constraint. See previous errors.

In [143]:
ALTER TABLE REVIEWS
    DROP CONSTRAINT FK__REVIEWS__RATING__3493CFA7

In [144]:
ALTER TABLE BOOKS
    DROP CONSTRAINT PK__BOOKS__475DFD2E29A63892