## Requirement

- A Book has the following information
    - title
    - author
    - price
    - <span style="color: var(--vscode-foreground);">cover</span>
    - reviews
        - review1
            - name
            - rating
        - review2
            - name
            - rating

- But A Table cell (reviews) MUST BE atomic
    - It can't (SHOUNDN'T) hold list/set etc

# Normalization 1 (1NF)

- All cells must be atomicÂ 
    - information that can't be broken further
    - single piece of information

## Approach #1

In [ ]:
DROP TABLE IF EXISTS BOOKS;

CREATE TABLE BOOKS(
    TITLE VARCHAR(100) NOT NULL,
    AUTHOR VARCHAR(100) NOT NULL,
    PRICE DECIMAL(8,2) CHECK(PRICE>=0),
    --RATING DECIMAL(5,2) CHECK(RATING>=1 AND RATING<=5),
    COVER VARCHAR(512) DEFAULT('unknown.png'),
    --RATING RELATED INFO
    REVIEWER VARCHAR(100),
    RATING INT CHECK(RATING>=1 AND RATING<=5)
)

In [ ]:
INSERT 
    INTO BOOKS(TITLE,AUTHOR,PRICE,COVER,REVIWER,RATING,)
    VALUES    
    
    ('The Accursed God','Vivek Dutta Mishra',299, 'tag.png','Sanjay',5),
    ('The Accursed God','Vivek Dutta Mishra',299, 'tag.png','Shivanshi',3),
    ('The Accursed God','Vivek Dutta Mishra',299, 'tag.png','Amit',5),
    ('The Accursed God','Vivek Dutta Mishra',299, 'tag.png','Rajesh',5),
    
    ('Manas','Vivek Dutta Mishra',199, 'manas.png','Shivanshi',5),
    ('Manas','Vivek Dutta Mishra',199, 'manas.png','Reena',4),
    ('Manas','Vivek Dutta Mishra',199, 'manas.png','Sanjay',4),

    ('Rashmirathi','Ramdhari Singh Dinkar',99, 'rashmirath.png','Shivanshi',4),
    ('Rashmirathi','Ramdhari Singh Dinkar',99, 'rashmirath.png','Vivek',4),
    ('Rashmirathi','Ramdhari Singh Dinkar',99, 'rashmirath.png','Reena',4),
    ('Rashmirathi','Ramdhari Singh Dinkar',99, 'rashmirath.png','Amit',3),

    ('The Count of Monte Cristo','Alexandre Dumas',499, 'cristo.png','Vivek',5),
    ('The Count of Monte Cristo','Alexandre Dumas',499, 'cristo.png','Reena',4),
    ('The Count of Monte Cristo','Alexandre Dumas',499, 'cristo.png','Shivanshi',4)
    

    ;