# Creating a New Database

- We can create a database using **CREATE DATABASE** command

In [1]:
CREATE DATABASE books_db_g7cr_202407;

## Now we can activate our database before we can use It

In [2]:
USE books_db_g7cr_202407;

### We can conditionally Drop a Table If It exists

In [14]:
DROP TABLE IF EXISTS BOOKS;

## Now we create our Books Table

- CREATE TABLE COMMAND NEEDS

1. TABLE NAME
    
2. ALL COLUMNS WITH
    
    - COLUMN NAME
    - COLUMN DATA TYPE
    - ADDITIONAL CONSTRAINTS (OPTIONAL)
        - In this example we are using constraints
            - NOT NULL to mark column compulsory
            - CHECK to validate the value 
            - DEFAULT is the value that is stored if no value is provided by the user

In [15]:


CREATE TABLE books(
	TITLE  VARCHAR(200) NOT NULL,
	AUTHOR VARCHAR(200) NOT NULL,
	PRICE  DECIMAL(8,2) NOT NULL CHECK(PRICE>=0),
	RATING DECIMAL(5,2) CHECK(RATING>=1 AND RATING<=5),
	COVER  VARCHAR(512) DEFAULT('/unknown.png')
);

## INSERT RECORDS IN THE TABLE

- There are multiple syntax/options to execute **INSERT** statement
- The full syntax requires us to provide
    - table name
    - column names
    - corresponding values

### Approach #1

In [16]:
INSERT 
    INTO BOOKS(TITLE,AUTHOR,PRICE,RATING,COVER)
    VALUES    ('The Accursed God','Vivek Dutta Mishra',299, 4.7, 'tag.png');

## Approach #2  Provide Only values

- Order of values will be based on order in which CREATE TABLE added the columns

In [17]:
INSERT 
    INTO BOOKS
    VALUES    ('Manas','Vivek Dutta Mishra',199, 4.6, 'manas.png');

### Default Value

-  If a value for column is NOT supplied but a default exists, it will be used
- In this case, we are not supplying cover to the query. It will use default from table defintion

In [18]:
INSERT 
    INTO BOOKS(TITLE,AUTHOR,PRICE,RATING)
    VALUES    ('Rashmirathi','Ramdhari Singh Dinkar',299, 4.7);

## Insert fails for constraint failures

In [19]:
INSERT 
    INTO BOOKS(TITLE,PRICE,RATING)
    VALUES    ('Rashmirathi',299, 4.7);

: Msg 515, Level 16, State 2, Line 1
Cannot insert the value NULL into column 'AUTHOR', table 'books_db_g7cr_202407.dbo.books'; column does not allow nulls. INSERT fails.

In [20]:
INSERT 
    INTO BOOKS(TITLE,AUTHOR,PRICE,RATING)
    VALUES    ('Rashmirathi','Ramdhari Singh Dinkar',299, 10);

: Msg 547, Level 16, State 0, Line 1
The INSERT statement conflicted with the CHECK constraint "CK__books__RATING__5165187F". The conflict occurred in database "books_db_g7cr_202407", table "dbo.books", column 'RATING'.

### INSERT MULTIPLE VALUES IN A SINGLE STATEMENT

In [21]:
INSERT 
    INTO BOOKS(TITLE,AUTHOR,PRICE,RATING,COVER)
    VALUES    
        ('The Count of Monte Cristo','Alexandre Dumas',499, 4.8, 'cristo.jpg'),
        ('Kurukshetra','Ramdhari Singh Dinkar',99, 4.5, 'kurukshetra.jpg'),
        ('Harry Potter and the Philosophers Stone','JK Rowling',299, 4.5, 'hp01.jpg'),
        ('Harry Potter and the and the Chamber of Secrets','JK Rowling',199, 4.4, 'hp02.jpg'),
        ('Harry Potter and the Prisioner of Askaban','JK Rowling',499, 4.2, 'hp03.jpg'),
        ('Harry Potter and the Goblet of Fire','JK Rowling',599, 4.2, 'hp04.jpg'),
        ('Harry Potter and the Order of Phoenix','JK Rowling',399, 4.7, 'hp05.jpg'),
        ('Harry Potter and the Half-blood Prince','JK Rowling',599, 4.5, 'hp06.jpg'),
        ('Harry Potter and the Deathly Hollows','JK Rowling',499, 4.7, 'hp07.jpg'),
        ('The Accursed Ghild','JK Rowling',399, 4.1, 'tac.jpg'),
        ('The mand in the Iron Mask','Alexandre Dumas',299, 3.8, 'iron.jpg'),
        ('Ajaya','Anand Neelkhanthan',299, 3.1, 'ajaya.jpg'),
        ('Asura','Anand Neelkanthan',199, 2.0, 'asura.jpg');

# Querying Data

## 1\. Simple Select Query

-  select all rows and columns from the table

In [22]:
SELECT * FROM BOOKS;

TITLE,AUTHOR,PRICE,RATING,COVER
The Accursed God,Vivek Dutta Mishra,299.00,4.70,tag.png
Manas,Vivek Dutta Mishra,199.00,4.60,manas.png
Rashmirathi,Ramdhari Singh Dinkar,299.00,4.70,/unknown.png
The Count of Monte Cristo,Alexandre Dumas,499.00,4.80,cristo.jpg
Kurukshetra,Ramdhari Singh Dinkar,99.00,4.50,kurukshetra.jpg
Harry Potter and the Philosophers Stone,JK Rowling,299.00,4.50,hp01.jpg
Harry Potter and the and the Chamber of Secrets,JK Rowling,199.00,4.40,hp02.jpg
Harry Potter and the Prisioner of Askaban,JK Rowling,499.00,4.20,hp03.jpg
Harry Potter and the Goblet of Fire,JK Rowling,599.00,4.20,hp04.jpg
Harry Potter and the Order of Phoenix,JK Rowling,399.00,4.70,hp05.jpg
Harry Potter and the Half-blood Prince,JK Rowling,599.00,4.50,hp06.jpg
Harry Potter and the Deathly Hollows,JK Rowling,499.00,4.70,hp07.jpg
The Accursed Ghild,JK Rowling,399.00,4.10,tac.jpg
The mand in the Iron Mask,Alexandre Dumas,299.00,3.80,iron.jpg
Ajaya,Anand Neelkhanthan,299.00,3.10,ajaya.jpg
Asura,Anand Neelkanthan,199.00,2.00,asura.jpg

### SELECTED SELECTED COLUMNS

In [23]:
SELECT
    TITLE,
    AUTHOR,
    PRICE
FROM
    BOOKS

TITLE,AUTHOR,PRICE
The Accursed God,Vivek Dutta Mishra,299.00
Manas,Vivek Dutta Mishra,199.00
Rashmirathi,Ramdhari Singh Dinkar,299.00
The Count of Monte Cristo,Alexandre Dumas,499.00
Kurukshetra,Ramdhari Singh Dinkar,99.00
Harry Potter and the Philosophers Stone,JK Rowling,299.00
Harry Potter and the and the Chamber of Secrets,JK Rowling,199.00
Harry Potter and the Prisioner of Askaban,JK Rowling,499.00
Harry Potter and the Goblet of Fire,JK Rowling,599.00
Harry Potter and the Order of Phoenix,JK Rowling,399.00
Harry Potter and the Half-blood Prince,JK Rowling,599.00
Harry Potter and the Deathly Hollows,JK Rowling,499.00
The Accursed Ghild,JK Rowling,399.00
The mand in the Iron Mask,Alexandre Dumas,299.00
Ajaya,Anand Neelkhanthan,299.00
Asura,Anand Neelkanthan,199.00

### Filtering SPECIFIC ROWS ON Given Condition

In [24]:
SELECT
    TITLE,
    PRICE,
    RATING
FROM
    BOOKS
WHERE
    AUTHOR='Vivek Dutta Mishra'

TITLE,PRICE,RATING
The Accursed God,299.00,4.70
Manas,199.00,4.60

### Returning Results in a Given Order

In [25]:
SELECT 
    *
FROM
    BOOKS
ORDER BY 
    PRICE

TITLE,AUTHOR,PRICE,RATING,COVER
Kurukshetra,Ramdhari Singh Dinkar,99.00,4.50,kurukshetra.jpg
Manas,Vivek Dutta Mishra,199.00,4.60,manas.png
Harry Potter and the and the Chamber of Secrets,JK Rowling,199.00,4.40,hp02.jpg
Asura,Anand Neelkanthan,199.00,2.00,asura.jpg
The Accursed God,Vivek Dutta Mishra,299.00,4.70,tag.png
The mand in the Iron Mask,Alexandre Dumas,299.00,3.80,iron.jpg
Ajaya,Anand Neelkhanthan,299.00,3.10,ajaya.jpg
Rashmirathi,Ramdhari Singh Dinkar,299.00,4.70,/unknown.png
Harry Potter and the Philosophers Stone,JK Rowling,299.00,4.50,hp01.jpg
Harry Potter and the Order of Phoenix,JK Rowling,399.00,4.70,hp05.jpg
The Accursed Ghild,JK Rowling,399.00,4.10,tac.jpg
Harry Potter and the Deathly Hollows,JK Rowling,499.00,4.70,hp07.jpg
Harry Potter and the Prisioner of Askaban,JK Rowling,499.00,4.20,hp03.jpg
The Count of Monte Cristo,Alexandre Dumas,499.00,4.80,cristo.jpg
Harry Potter and the Goblet of Fire,JK Rowling,599.00,4.20,hp04.jpg
Harry Potter and the Half-blood Prince,JK Rowling,599.00,4.50,hp06.jpg

In [28]:
SELECT 
TOP 5
    *
FROM
    BOOKS
ORDER BY
    RATING DESC

TITLE,AUTHOR,PRICE,RATING,COVER
The Count of Monte Cristo,Alexandre Dumas,499.00,4.80,cristo.jpg
The Accursed God,Vivek Dutta Mishra,299.00,4.70,tag.png
Harry Potter and the Order of Phoenix,JK Rowling,399.00,4.70,hp05.jpg
Harry Potter and the Deathly Hollows,JK Rowling,499.00,4.70,hp07.jpg
Rashmirathi,Ramdhari Singh Dinkar,299.00,4.70,/unknown.png
Manas,Vivek Dutta Mishra,199.00,4.60,manas.png
Harry Potter and the Half-blood Prince,JK Rowling,599.00,4.50,hp06.jpg
Kurukshetra,Ramdhari Singh Dinkar,99.00,4.50,kurukshetra.jpg
Harry Potter and the Philosophers Stone,JK Rowling,299.00,4.50,hp01.jpg
Harry Potter and the and the Chamber of Secrets,JK Rowling,199.00,4.40,hp02.jpg
Harry Potter and the Prisioner of Askaban,JK Rowling,499.00,4.20,hp03.jpg
Harry Potter and the Goblet of Fire,JK Rowling,599.00,4.20,hp04.jpg
The Accursed Ghild,JK Rowling,399.00,4.10,tac.jpg
The mand in the Iron Mask,Alexandre Dumas,299.00,3.80,iron.jpg
Ajaya,Anand Neelkhanthan,299.00,3.10,ajaya.jpg
Asura,Anand Neelkanthan,199.00,2.00,asura.jpg

### Partial Text Match

  

-  = opeartors matches exact value
- To match partial texts we use
1.  LIKE operator
2. Wild card % that matches one or more characters
- Example
    - TITLE LIKE '%Harry Potter%'
        - Any text that contains Harry Potter
    - TITLE LIKE 'Harry Potter%'
        - A Text that starts with Harry Potter and may have more character
    - TITLE LIKE '%Harry Potter'
        - A Text that ends with Harry Potter and may have more characters before

In [31]:
SELECT 
    * 
FROM
    BOOKS
WHERE
    TITLE LIKE 'Harry Potter'
ORDER BY PRICE

### AGGREGATE QUERIES

- Aggregate queries operate on multiple rows to give a combined single value from those rows
- They always returns a single row for given number of rows
- We may use 
    - all rows
    - rows filtered by where

### 1\. Count All Rows

In [32]:
SELECT
    COUNT(*)
FROM 
    BOOKS

(No column name)
16

## More Aggregate Functions

##   

### 

1. sum()
2. average()
3. min()
4. max()

### Find min and max rating for Books by JK Rowling

In [33]:
SELECT
    COUNT(PRICE),
    MIN(PRICE),
    MAX(PRICE),
    MIN(RATING),
    MAX(RATING)
FROM
    BOOKS
WHERE
    AUTHOR LIKE '%Rowling'

(No column name),(No column name),(No column name),(No column name),(No column name)
8,199.00,599.00,4.10,4.70

### Adding an Alias (Column Name) from a value in the query

  

- We can provide alias for
    - Any column
    - Expression
    - Table Name
- Alias is provided by adding alias name after the item being aliased
    - AS keyword is optional

In [36]:
SELECT
    COUNT(PRICE) AS TOTAL_BOOKS,
    MIN(PRICE)   AS MIN_PRICE,
    MAX(PRICE)      MAX_PRICE,
    MIN(RATING)     MIN_RATING,
    MAX(RATING)     MAX_RATING
FROM
    BOOKS
WHERE
    AUTHOR LIKE '%Rowling'

TOTAL_BOOKS,MIN_PRICE,MAX_PRICE,MIN_RATING,MAX_RATING
8,199.00,599.00,4.10,4.70

# We CAN'T Mix Aggregate and Non Aggreate Query

- A Single query can't return
    - Book Title
    - Book Count
- There are 16 book titles and a single count
- A Query can't return both as number of rows required to represent the idea is different
-

In [37]:
SELECT
    TITLE,
    COUNT(TITLE)
FROM
    BOOKS

: Msg 8120, Level 16, State 1, Line 2
Column 'BOOKS.TITLE' is invalid in the select list because it is not contained in either an aggregate function or the GROUP BY clause.

DISTINCT

  

- Distinct returns distinct rows from a table
- It ignores duplicates
- All duplciate values are selected only ones

  

### Get a List of Authors from our Book's Database

In [44]:
SELECT
    DISTINCT AUTHOR
FROM
    BOOKS

AUTHOR
Alexandre Dumas
Anant Neelkanthan
JK Rowling
Ramdhari Singh Dinkar
Vivek Dutta Mishra

In [39]:
SELECT
    COUNT(*) TOTAL_BOOKS,
    COUNT(DISTINCT(AUTHOR)) TOTAL_AUTHORS
FROM
    BOOKS

TOTAL_BOOKS,TOTAL_AUTHORS
16,6

# Group By

  

- Group By Groups the Input Rows (Table) based on a Key Column
- It works in two Phases

### Phase #1

- The Input rows/table is logically splitted into multiple logical tables
    - Each table will have a unique value for the key column
- Example
    - Books can be grouped by Author
        - A total of DISTINCT(AUTHOR) GROUP WILL BE CREATED.
    - EACH GROUP WILL CONTAIN ALL ROWS THAT CONTAINS GROUP KEY

### Phase #2

- Select 1 row worth information from each group and return
- Final result will have one row corresponding to each group.

  

## What we can not include

  

- Any thing that has (can have) more than one DISTINCT value in the group
- In our example: Title, Price, Rating,Cover

## What we can include

-      Group Key
    - This value is naturally unqiue in the group

  

## Example: Return Group Key from Group

In [43]:
SELECT 
    AUTHOR
FROM
    BOOKS
GROUP BY 
    AUTHOR

AUTHOR
Alexandre Dumas
Anant Neelkanthan
JK Rowling
Ramdhari Singh Dinkar
Vivek Dutta Mishra

## DISTINCT VS GROUP BY

- DISTINCT SEARCHES FROM UNIQUE VALUES IN ALL COLUMNS AND RETURNS UNIQUE RESULTS
    - It doesn't create any inner partition
    - It can only return the distinct value of the given column
- GROUP BY
    - Internally creates partitions
    - It can return more information about each partition that can't be returned using distinct

  

## What Else can we return using Group By

  

- We can return GROUP KEY (It is unique and single)
- We can also return Aggregate values from the group
    - Count
    - Average
    - MIN

In [45]:
SELECT
    AUTHOR,
    COUNT(*) AS BOOKS_WRITTEN,
    AVG(RATING) AS AVG_RATING
FROM
    BOOKS
GROUP BY
    AUTHOR

AUTHOR,BOOKS_WRITTEN,AVG_RATING
Alexandre Dumas,2,4.300000
Anant Neelkanthan,2,2.550000
JK Rowling,8,4.412500
Ramdhari Singh Dinkar,2,4.600000
Vivek Dutta Mishra,2,4.650000

In [48]:
SELECT
   TITLE
FROM
    BOOKS
GROUP BY
    AUTHOR

: Msg 8120, Level 16, State 1, Line 2
Column 'BOOKS.TITLE' is invalid in the select list because it is not contained in either an aggregate function or the GROUP BY clause.